<div class="sidenav">
    <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-dashboard"></i>&nbsp;&nbsp;Dashboard</a>
    <a href="#services"><i class="fa fa-fw fa-bar-chart-o "></i>&nbsp;&nbsp;Charts</a>
    <a href="#clients"><i class="fa fa-fw fa-table"></i>&nbsp;&nbsp;Tables</a>
    <a href="#contact"><i class="fa fa-fw fa-edit"></i>&nbsp;&nbsp;Forms</a>
    <a href="#contact"><i class="fa fa-fw fa-desktop"></i>&nbsp;&nbsp;Bootstrap Element</a>
    <a href="#contact"><i class="fa fa-fw fa-wrench"></i>&nbsp;&nbsp;Bootstrap Grid</a>
    <a href="#contact"><i class="fa fa-th-list"></i>&nbsp;&nbsp;Component</a>
    <a href="#contact"><i class="fa fa-plus"></i>&nbsp;&nbsp;Menu</a>
    
    
  
  </div>